.App {
  padding-left: 25px;
}

button {
  margin: 5px;
  padding: 5px;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  font-size: medium;
}

.large-button {
  width: 110px;
}

.selected {
  background-color: black;
  color: white
}

.display-value {
  height: 30px;
  padding-left: 10px;
  font-size: larger;
}